<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PretendardVariable.ttf</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>NeverDie 앱에서 걸음 수 데이터를 읽어와 수명 계산에 활용하기 위해 HealthKit 접근이 필요합니다.</string>
</dict>
</plist>
